<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" sizes="32x32" href="img/pin.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="img/pin.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="robots" content="follow, index" />
  <meta name="publisher" content="Semanta" />
  <meta name="description" content="Oversikt over alle offentlige tilfluktsrom i Norge. Finn ditt tilfluktsrom og skap en større trygghet for deg og dine nærmeste.">
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge">
  <meta name="keyword" content="tilfluktsrom, offentlig, norge, tilfluktsrom i norge, nærmeste tilfluktsrom, offentlig bomberom, bomberom i norge, mitt tilfluktsrom, alle tilfluktsrom i norge, hvor er det tilfluktsrom, tilfluktsrom for alle, mitt nærmeste tilfluktsrom, nærmeste tilfluktsrom,tilfluktsrom Halden,tilfluktsrom Moss,tilfluktsrom Sarpsborg,tilfluktsrom Fredrikstad,tilfluktsrom Hvaler,tilfluktsrom Aremark,tilfluktsrom Marker,tilfluktsrom Rømskog,tilfluktsrom Trøgstad,tilfluktsrom Spydeberg,tilfluktsrom Askim,tilfluktsrom Eidsberg,tilfluktsrom Skiptvet,tilfluktsrom Rakkestad,tilfluktsrom Røde,tilfluktsrom Rygge,tilfluktsrom Våler,tilfluktsrom Hobæl,tilfluktsrom Vestby,tilfluktsrom Ski,tilfluktsrom Øs,tilfluktsrom Frogn,tilfluktsrom Nesodden,tilfluktsrom Oppegård,tilfluktsrom Bærum,tilfluktsrom Asker,tilfluktsrom Aurskog-Håland,tilfluktsrom Sørum,tilfluktsrom Fet,tilfluktsrom Rølingen,tilfluktsrom Enebakk,tilfluktsrom Lørenskog,tilfluktsrom Skedsmo,tilfluktsrom Nittedal,tilfluktsrom Gjerdrum,tilfluktsrom Ullensaker,tilfluktsrom Nes,tilfluktsrom Eidsvoll,tilfluktsrom Nannestad,tilfluktsrom Hurdal,tilfluktsrom Oslo,tilfluktsrom Kongsvinger,tilfluktsrom Hamar,tilfluktsrom Ringsaker,tilfluktsrom Løten,tilfluktsrom Stange,tilfluktsrom Nord-Odal,tilfluktsrom Sær-Odal,tilfluktsrom Eidskog,tilfluktsrom Grue,tilfluktsrom Øsnes,tilfluktsrom Våler,tilfluktsrom Elverum,tilfluktsrom Trysil,tilfluktsrom Åmot,tilfluktsrom Stor-Elvdal,tilfluktsrom Rendalen,tilfluktsrom Engerdal,tilfluktsrom Tolga,tilfluktsrom Tynset,tilfluktsrom Alvdal,tilfluktsrom Folldal,tilfluktsrom Os,tilfluktsrom Lillehammer,tilfluktsrom Gjøvik,tilfluktsrom Dovre,tilfluktsrom Lesja,tilfluktsrom Skjåk,tilfluktsrom Lom,tilfluktsrom Vågø,tilfluktsrom Nord-Fron,tilfluktsrom Sel,tilfluktsrom Sør-Fron,tilfluktsrom Ringebu,tilfluktsrom Øyer,tilfluktsrom Gausdal,tilfluktsrom Østre Toten,tilfluktsrom Vestre Toten,tilfluktsrom Jevnaker,tilfluktsrom Lunner,tilfluktsrom Gran,tilfluktsrom Søndre Land,tilfluktsrom Nordre Land,tilfluktsrom Sør-Aurdal,tilfluktsrom Etnedal,tilfluktsrom Nord-Aurdal,tilfluktsrom Vestre Slidre,tilfluktsrom Åystre Slidre,tilfluktsrom Vang,tilfluktsrom Drammen,tilfluktsrom Kongsberg,tilfluktsrom Ringerike,tilfluktsrom Hole,tilfluktsrom Flø,tilfluktsrom Nes,tilfluktsrom Gol,tilfluktsrom Hemsedal,tilfluktsrom Ål,tilfluktsrom Hol,tilfluktsrom Sigdal,tilfluktsrom Krødsherad,tilfluktsrom Modum,tilfluktsrom Øvre Eiker,tilfluktsrom Nedre Eiker,tilfluktsrom Lier,tilfluktsrom Røyken,tilfluktsrom Hurum,tilfluktsrom Flesberg,tilfluktsrom Rollag,tilfluktsrom Nore og Uvdal,tilfluktsrom Horten,tilfluktsrom Tønsberg,tilfluktsrom Sandefjord,tilfluktsrom Svelvik,tilfluktsrom Larvik,tilfluktsrom Sande,tilfluktsrom Holmestrand,tilfluktsrom Re,tilfluktsrom Førder,tilfluktsrom Porsgrunn,tilfluktsrom Skien,tilfluktsrom Notodden,tilfluktsrom Siljan,tilfluktsrom Bamble,tilfluktsrom Kragerå,tilfluktsrom Drangedal,tilfluktsrom Nome,tilfluktsrom Bø,tilfluktsrom Sauherad,tilfluktsrom Tinn,tilfluktsrom Hjartdal,tilfluktsrom Seljord,tilfluktsrom Kviteseid,tilfluktsrom Nissedal,tilfluktsrom Fyresdal,tilfluktsrom Tokke,tilfluktsrom Vinje,tilfluktsrom Risår,tilfluktsrom Grimstad,tilfluktsrom Arendal,tilfluktsrom Gjerstad,tilfluktsrom Vegørshei,tilfluktsrom Tvedestrand,tilfluktsrom Froland,tilfluktsrom Lillesand,tilfluktsrom Birkenes,tilfluktsrom Ømli,tilfluktsrom Iveland,tilfluktsrom Evje og Hornnes,tilfluktsrom Bygland,tilfluktsrom Valle,tilfluktsrom Bykle,tilfluktsrom Kristiansand,tilfluktsrom Mandal,tilfluktsrom Farsund,tilfluktsrom Flekkefjord,tilfluktsrom Vennesla,tilfluktsrom Songdalen,tilfluktsrom Søgne,tilfluktsrom Marnardal,tilfluktsrom Øseral,tilfluktsrom Audnedal,tilfluktsrom Lindesnes,tilfluktsrom Lyngdal,tilfluktsrom Høgebostad,tilfluktsrom Kvinesdal,tilfluktsrom Sirdal,tilfluktsrom Eigersund,tilfluktsrom Sandnes,tilfluktsrom Stavanger,tilfluktsrom Haugesund,tilfluktsrom Sokndal,tilfluktsrom Lund,tilfluktsrom Bjerkreim,tilfluktsrom Hø,tilfluktsrom Klepp,tilfluktsrom Time,tilfluktsrom Gjesdal,tilfluktsrom Sola,tilfluktsrom Randaberg,tilfluktsrom Forsand,tilfluktsrom Strand,tilfluktsrom Hjelmeland,tilfluktsrom Suldal,tilfluktsrom Sauda,tilfluktsrom Finnøy,tilfluktsrom Rennesøy,tilfluktsrom Kvitsøy,tilfluktsrom Bokn,tilfluktsrom Tysvår,tilfluktsrom Karmøy,tilfluktsrom Utsira,tilfluktsrom Vindafjord,tilfluktsrom Bergen,tilfluktsrom Etne,tilfluktsrom Sveio,tilfluktsrom Bømlo,tilfluktsrom Stord,tilfluktsrom Fitjar,tilfluktsrom Tysnes,tilfluktsrom Kvinnherad,tilfluktsrom Jondal,tilfluktsrom Odda,tilfluktsrom Ullensvang,tilfluktsrom Eidfjord,tilfluktsrom Ulvik,tilfluktsrom Granvin,tilfluktsrom Voss,tilfluktsrom Kvam,tilfluktsrom Fusa,tilfluktsrom Samnanger,tilfluktsrom Os,tilfluktsrom Austevoll,tilfluktsrom Sund,tilfluktsrom Fjell,tilfluktsrom Askøy,tilfluktsrom Vaksdal,tilfluktsrom Modalen,tilfluktsrom Osterøy,tilfluktsrom Meland,tilfluktsrom Øygarden,tilfluktsrom Radøy,tilfluktsrom Lindøs,tilfluktsrom Austrheim,tilfluktsrom Fedje,tilfluktsrom Masfjorden,tilfluktsrom Flora,tilfluktsrom Gulen,tilfluktsrom Solund,tilfluktsrom Hyllestad,tilfluktsrom Høyanger,tilfluktsrom Vik,tilfluktsrom Balestrand,tilfluktsrom Leikanger,tilfluktsrom Sogndal,tilfluktsrom Aurland,tilfluktsrom Lårdal,tilfluktsrom Ørdal,tilfluktsrom Luster,tilfluktsrom Askvoll,tilfluktsrom Fjaler,tilfluktsrom Gaular,tilfluktsrom Jølster,tilfluktsrom Førde,tilfluktsrom Naustdal,tilfluktsrom Bremanger,tilfluktsrom Vågsøy,tilfluktsrom Selje,tilfluktsrom Eid,tilfluktsrom Hornindal,tilfluktsrom Gloppen,tilfluktsrom Stryn,tilfluktsrom Molde,tilfluktsrom Ålesund,tilfluktsrom Kristiansund,tilfluktsrom Vanylven,tilfluktsrom Sande,tilfluktsrom Herøy,tilfluktsrom Ulstein,tilfluktsrom Hareid,tilfluktsrom Volda,tilfluktsrom Ørsta,tilfluktsrom Ørskog,tilfluktsrom Norddal,tilfluktsrom Stranda,tilfluktsrom Stordal,tilfluktsrom Sykkylven,tilfluktsrom Skodje,tilfluktsrom Sula,tilfluktsrom Giske,tilfluktsrom Haram,tilfluktsrom Vestnes,tilfluktsrom Rauma,tilfluktsrom Nesset,tilfluktsrom Midsund,tilfluktsrom Sandøy,tilfluktsrom Aukra,tilfluktsrom Fræna,tilfluktsrom Eide,tilfluktsrom Averøy,tilfluktsrom Gjemnes,tilfluktsrom Tingvoll,tilfluktsrom Sunndal,tilfluktsrom Surnadal,tilfluktsrom Rindal,tilfluktsrom Halsa,tilfluktsrom Smøla,tilfluktsrom Aure,tilfluktsrom Bodø,tilfluktsrom Narvik,tilfluktsrom Bindal,tilfluktsrom Sømna,tilfluktsrom Brønnøy,tilfluktsrom Vega,tilfluktsrom Vevelstad,tilfluktsrom Herøy,tilfluktsrom Alstahaug,tilfluktsrom Leirfjord,tilfluktsrom Vefsn,tilfluktsrom Grane,tilfluktsrom Hattfjelldal,tilfluktsrom Dønna,tilfluktsrom Nesna,tilfluktsrom Hemnes,tilfluktsrom Rana,tilfluktsrom Lurøy,tilfluktsrom Trøna,tilfluktsrom Rødåy,tilfluktsrom Meløy,tilfluktsrom Gildeskøl,tilfluktsrom Beiarn,tilfluktsrom Saltdal,tilfluktsrom Fauske - Fuosko,tilfluktsrom Sørfold,tilfluktsrom Steigen,tilfluktsrom Hamarøy - Håbmer,tilfluktsrom Divtasvuodna - Tysfjord,tilfluktsrom Lødingen,tilfluktsrom Tjeldsund,tilfluktsrom Evenes,tilfluktsrom Ballangen,tilfluktsrom Røst,tilfluktsrom Vårøy,tilfluktsrom Flakstad,tilfluktsrom Vestvågøy,tilfluktsrom Vågan,tilfluktsrom Hadsel,tilfluktsrom Bø,tilfluktsrom Åksnes,tilfluktsrom Sortland - Suortå,tilfluktsrom Andøy,tilfluktsrom Moskenes,tilfluktsrom Tromsø,tilfluktsrom Harstad - Hørsttåk,tilfluktsrom Kvøfjord,tilfluktsrom Skønland,tilfluktsrom Ibestad,tilfluktsrom Gratangen,tilfluktsrom Loabøk - Lavangen,tilfluktsrom Bardu,tilfluktsrom Salangen,tilfluktsrom Mølselv,tilfluktsrom Sørreisa,tilfluktsrom Dyrøy,tilfluktsrom Tranøy,tilfluktsrom Torsken,tilfluktsrom Berg,tilfluktsrom Lenvik,tilfluktsrom Balsfjord,tilfluktsrom Karlsøy,tilfluktsrom Lyngen,tilfluktsrom Storfjord - Omasvuotna - Omasvuono,tilfluktsrom Gøivuotna - Køfjord - Kaivuono,tilfluktsrom Skjervøy,tilfluktsrom Nordreisa,tilfluktsrom Kvønangen,tilfluktsrom Vardø,tilfluktsrom Vadsø,tilfluktsrom Hammerfest,tilfluktsrom Guovdageaidnu - Kautokeino,tilfluktsrom Alta,tilfluktsrom Loppa,tilfluktsrom Hasvik,tilfluktsrom Kvalsund,tilfluktsrom Møsøy,tilfluktsrom Nordkapp,tilfluktsrom Porsanger - Porsanki,tilfluktsrom Karasjohka - Karasjok,tilfluktsrom Lebesby,tilfluktsrom Gamvik,tilfluktsrom Berlevåg,tilfluktsrom Deatnu - Tana,tilfluktsrom Unjørga - Nesseby,tilfluktsrom Båtsfjord,tilfluktsrom Sør-Varanger,tilfluktsrom Trondheim,tilfluktsrom Steinkjer,tilfluktsrom Namsos,tilfluktsrom Hemne,tilfluktsrom Snillfjord,tilfluktsrom Hitra,tilfluktsrom Frøya,tilfluktsrom Ørland,tilfluktsrom Agdenes,tilfluktsrom Bjugn,tilfluktsrom Åfjord,tilfluktsrom Roan,tilfluktsrom Osen,tilfluktsrom Oppdal,tilfluktsrom Rennebu,tilfluktsrom Meldal,tilfluktsrom Orkdal,tilfluktsrom Røros,tilfluktsrom Holtølen,tilfluktsrom Midtre Gauldal,tilfluktsrom Melhus,tilfluktsrom Skaun,tilfluktsrom Kløbu,tilfluktsrom Malvik,tilfluktsrom Selbu,tilfluktsrom Tydal,tilfluktsrom Merøker,tilfluktsrom Stjørdal,tilfluktsrom Frosta,tilfluktsrom Levanger,tilfluktsrom Verdal,tilfluktsrom Verran,tilfluktsrom Namdalseid,tilfluktsrom Snøase - Snøsa,tilfluktsrom Lierne,tilfluktsrom Raarvihke - Røyrvik,tilfluktsrom Namsskogan,tilfluktsrom Grong,tilfluktsrom Høylandet,tilfluktsrom Overhalla,tilfluktsrom Fosnes,tilfluktsrom Flatanger,tilfluktsrom Vikna,tilfluktsrom Nørøy,tilfluktsrom Leka,tilfluktsrom Inderøy,tilfluktsrom Indre Fosen, Offentlige tilfluktsrom i Halden,Offentlige tilfluktsrom i Moss,Offentlige tilfluktsrom i Sarpsborg,Offentlige tilfluktsrom i Fredrikstad,Offentlige tilfluktsrom i Hvaler,Offentlige tilfluktsrom i Aremark,Offentlige tilfluktsrom i Marker,Offentlige tilfluktsrom i Rømskog,Offentlige tilfluktsrom i Trøgstad,Offentlige tilfluktsrom i Spydeberg,Offentlige tilfluktsrom i Askim,Offentlige tilfluktsrom i Eidsberg,Offentlige tilfluktsrom i Skiptvet,Offentlige tilfluktsrom i Rakkestad,Offentlige tilfluktsrom i Røde,Offentlige tilfluktsrom i Rygge,Offentlige tilfluktsrom i Våler,Offentlige tilfluktsrom i Hobæl,Offentlige tilfluktsrom i Vestby,Offentlige tilfluktsrom i Ski,Offentlige tilfluktsrom i Øs,Offentlige tilfluktsrom i Frogn,Offentlige tilfluktsrom i Nesodden,Offentlige tilfluktsrom i Oppegård,Offentlige tilfluktsrom i Bærum,Offentlige tilfluktsrom i Asker,Offentlige tilfluktsrom i Aurskog-Håland,Offentlige tilfluktsrom i Sørum,Offentlige tilfluktsrom i Fet,Offentlige tilfluktsrom i Rølingen,Offentlige tilfluktsrom i Enebakk,Offentlige tilfluktsrom i Lørenskog,Offentlige tilfluktsrom i Skedsmo,Offentlige tilfluktsrom i Nittedal,Offentlige tilfluktsrom i Gjerdrum,Offentlige tilfluktsrom i Ullensaker,Offentlige tilfluktsrom i Nes,Offentlige tilfluktsrom i Eidsvoll,Offentlige tilfluktsrom i Nannestad,Offentlige tilfluktsrom i Hurdal,Offentlige tilfluktsrom i Oslo,Offentlige tilfluktsrom i Kongsvinger,Offentlige tilfluktsrom i Hamar,Offentlige tilfluktsrom i Ringsaker,Offentlige tilfluktsrom i Løten,Offentlige tilfluktsrom i Stange,Offentlige tilfluktsrom i Nord-Odal,Offentlige tilfluktsrom i Sær-Odal,Offentlige tilfluktsrom i Eidskog,Offentlige tilfluktsrom i Grue,Offentlige tilfluktsrom i Øsnes,Offentlige tilfluktsrom i Våler,Offentlige tilfluktsrom i Elverum,Offentlige tilfluktsrom i Trysil,Offentlige tilfluktsrom i Åmot,Offentlige tilfluktsrom i Stor-Elvdal,Offentlige tilfluktsrom i Rendalen,Offentlige tilfluktsrom i Engerdal,Offentlige tilfluktsrom i Tolga,Offentlige tilfluktsrom i Tynset,Offentlige tilfluktsrom i Alvdal,Offentlige tilfluktsrom i Folldal,Offentlige tilfluktsrom i Os,Offentlige tilfluktsrom i Lillehammer,Offentlige tilfluktsrom i Gjøvik,Offentlige tilfluktsrom i Dovre,Offentlige tilfluktsrom i Lesja,Offentlige tilfluktsrom i Skjåk,Offentlige tilfluktsrom i Lom,Offentlige tilfluktsrom i Vågø,Offentlige tilfluktsrom i Nord-Fron,Offentlige tilfluktsrom i Sel,Offentlige tilfluktsrom i Sør-Fron,Offentlige tilfluktsrom i Ringebu,Offentlige tilfluktsrom i Øyer,Offentlige tilfluktsrom i Gausdal,Offentlige tilfluktsrom i Østre Toten,Offentlige tilfluktsrom i Vestre Toten,Offentlige tilfluktsrom i Jevnaker,Offentlige tilfluktsrom i Lunner,Offentlige tilfluktsrom i Gran,Offentlige tilfluktsrom i Søndre Land,Offentlige tilfluktsrom i Nordre Land,Offentlige tilfluktsrom i Sør-Aurdal,Offentlige tilfluktsrom i Etnedal,Offentlige tilfluktsrom i Nord-Aurdal,Offentlige tilfluktsrom i Vestre Slidre,Offentlige tilfluktsrom i Åystre Slidre,Offentlige tilfluktsrom i Vang,Offentlige tilfluktsrom i Drammen,Offentlige tilfluktsrom i Kongsberg,Offentlige tilfluktsrom i Ringerike,Offentlige tilfluktsrom i Hole,Offentlige tilfluktsrom i Flø,Offentlige tilfluktsrom i Nes,Offentlige tilfluktsrom i Gol,Offentlige tilfluktsrom i Hemsedal,Offentlige tilfluktsrom i Ål,Offentlige tilfluktsrom i Hol,Offentlige tilfluktsrom i Sigdal,Offentlige tilfluktsrom i Krødsherad,Offentlige tilfluktsrom i Modum,Offentlige tilfluktsrom i Øvre Eiker,Offentlige tilfluktsrom i Nedre Eiker,Offentlige tilfluktsrom i Lier,Offentlige tilfluktsrom i Røyken,Offentlige tilfluktsrom i Hurum,Offentlige tilfluktsrom i Flesberg,Offentlige tilfluktsrom i Rollag,Offentlige tilfluktsrom i Nore og Uvdal,Offentlige tilfluktsrom i Horten,Offentlige tilfluktsrom i Tønsberg,Offentlige tilfluktsrom i Sandefjord,Offentlige tilfluktsrom i Svelvik,Offentlige tilfluktsrom i Larvik,Offentlige tilfluktsrom i Sande,Offentlige tilfluktsrom i Holmestrand,Offentlige tilfluktsrom i Re,Offentlige tilfluktsrom i Førder,Offentlige tilfluktsrom i Porsgrunn,Offentlige tilfluktsrom i Skien,Offentlige tilfluktsrom i Notodden,Offentlige tilfluktsrom i Siljan,Offentlige tilfluktsrom i Bamble,Offentlige tilfluktsrom i Kragerå,Offentlige tilfluktsrom i Drangedal,Offentlige tilfluktsrom i Nome,Offentlige tilfluktsrom i Bø,Offentlige tilfluktsrom i Sauherad,Offentlige tilfluktsrom i Tinn,Offentlige tilfluktsrom i Hjartdal,Offentlige tilfluktsrom i Seljord,Offentlige tilfluktsrom i Kviteseid,Offentlige tilfluktsrom i Nissedal,Offentlige tilfluktsrom i Fyresdal,Offentlige tilfluktsrom i Tokke,Offentlige tilfluktsrom i Vinje,Offentlige tilfluktsrom i Risår,Offentlige tilfluktsrom i Grimstad,Offentlige tilfluktsrom i Arendal,Offentlige tilfluktsrom i Gjerstad,Offentlige tilfluktsrom i Vegørshei,Offentlige tilfluktsrom i Tvedestrand,Offentlige tilfluktsrom i Froland,Offentlige tilfluktsrom i Lillesand,Offentlige tilfluktsrom i Birkenes,Offentlige tilfluktsrom i Ømli,Offentlige tilfluktsrom i Iveland,Offentlige tilfluktsrom i Evje og Hornnes,Offentlige tilfluktsrom i Bygland,Offentlige tilfluktsrom i Valle,Offentlige tilfluktsrom i Bykle,Offentlige tilfluktsrom i Kristiansand,Offentlige tilfluktsrom i Mandal,Offentlige tilfluktsrom i Farsund,Offentlige tilfluktsrom i Flekkefjord,Offentlige tilfluktsrom i Vennesla,Offentlige tilfluktsrom i Songdalen,Offentlige tilfluktsrom i Søgne,Offentlige tilfluktsrom i Marnardal,Offentlige tilfluktsrom i Øseral,Offentlige tilfluktsrom i Audnedal,Offentlige tilfluktsrom i Lindesnes,Offentlige tilfluktsrom i Lyngdal,Offentlige tilfluktsrom i Høgebostad,Offentlige tilfluktsrom i Kvinesdal,Offentlige tilfluktsrom i Sirdal,Offentlige tilfluktsrom i Eigersund,Offentlige tilfluktsrom i Sandnes,Offentlige tilfluktsrom i Stavanger,Offentlige tilfluktsrom i Haugesund,Offentlige tilfluktsrom i Sokndal,Offentlige tilfluktsrom i Lund,Offentlige tilfluktsrom i Bjerkreim,Offentlige tilfluktsrom i Hø,Offentlige tilfluktsrom i Klepp,Offentlige tilfluktsrom i Time,Offentlige tilfluktsrom i Gjesdal,Offentlige tilfluktsrom i Sola,Offentlige tilfluktsrom i Randaberg,Offentlige tilfluktsrom i Forsand,Offentlige tilfluktsrom i Strand,Offentlige tilfluktsrom i Hjelmeland,Offentlige tilfluktsrom i Suldal,Offentlige tilfluktsrom i Sauda,Offentlige tilfluktsrom i Finnøy,Offentlige tilfluktsrom i Rennesøy,Offentlige tilfluktsrom i Kvitsøy,Offentlige tilfluktsrom i Bokn,Offentlige tilfluktsrom i Tysvår,Offentlige tilfluktsrom i Karmøy,Offentlige tilfluktsrom i Utsira,Offentlige tilfluktsrom i Vindafjord,Offentlige tilfluktsrom i Bergen,Offentlige tilfluktsrom i Etne,Offentlige tilfluktsrom i Sveio,Offentlige tilfluktsrom i Bømlo,Offentlige tilfluktsrom i Stord,Offentlige tilfluktsrom i Fitjar,Offentlige tilfluktsrom i Tysnes,Offentlige tilfluktsrom i Kvinnherad,Offentlige tilfluktsrom i Jondal,Offentlige tilfluktsrom i Odda,Offentlige tilfluktsrom i Ullensvang,Offentlige tilfluktsrom i Eidfjord,Offentlige tilfluktsrom i Ulvik,Offentlige tilfluktsrom i Granvin,Offentlige tilfluktsrom i Voss,Offentlige tilfluktsrom i Kvam,Offentlige tilfluktsrom i Fusa,Offentlige tilfluktsrom i Samnanger,Offentlige tilfluktsrom i Os,Offentlige tilfluktsrom i Austevoll,Offentlige tilfluktsrom i Sund,Offentlige tilfluktsrom i Fjell,Offentlige tilfluktsrom i Askøy,Offentlige tilfluktsrom i Vaksdal,Offentlige tilfluktsrom i Modalen,Offentlige tilfluktsrom i Osterøy,Offentlige tilfluktsrom i Meland,Offentlige tilfluktsrom i Øygarden,Offentlige tilfluktsrom i Radøy,Offentlige tilfluktsrom i Lindøs,Offentlige tilfluktsrom i Austrheim,Offentlige tilfluktsrom i Fedje,Offentlige tilfluktsrom i Masfjorden,Offentlige tilfluktsrom i Flora,Offentlige tilfluktsrom i Gulen,Offentlige tilfluktsrom i Solund,Offentlige tilfluktsrom i Hyllestad,Offentlige tilfluktsrom i Høyanger,Offentlige tilfluktsrom i Vik,Offentlige tilfluktsrom i Balestrand,Offentlige tilfluktsrom i Leikanger,Offentlige tilfluktsrom i Sogndal,Offentlige tilfluktsrom i Aurland,Offentlige tilfluktsrom i Lårdal,Offentlige tilfluktsrom i Ørdal,Offentlige tilfluktsrom i Luster,Offentlige tilfluktsrom i Askvoll,Offentlige tilfluktsrom i Fjaler,Offentlige tilfluktsrom i Gaular,Offentlige tilfluktsrom i Jølster,Offentlige tilfluktsrom i Førde,Offentlige tilfluktsrom i Naustdal,Offentlige tilfluktsrom i Bremanger,Offentlige tilfluktsrom i Vågsøy,Offentlige tilfluktsrom i Selje,Offentlige tilfluktsrom i Eid,Offentlige tilfluktsrom i Hornindal,Offentlige tilfluktsrom i Gloppen,Offentlige tilfluktsrom i Stryn,Offentlige tilfluktsrom i Molde,Offentlige tilfluktsrom i Ålesund,Offentlige tilfluktsrom i Kristiansund,Offentlige tilfluktsrom i Vanylven,Offentlige tilfluktsrom i Sande,Offentlige tilfluktsrom i Herøy,Offentlige tilfluktsrom i Ulstein,Offentlige tilfluktsrom i Hareid,Offentlige tilfluktsrom i Volda,Offentlige tilfluktsrom i Ørsta,Offentlige tilfluktsrom i Ørskog,Offentlige tilfluktsrom i Norddal,Offentlige tilfluktsrom i Stranda,Offentlige tilfluktsrom i Stordal,Offentlige tilfluktsrom i Sykkylven,Offentlige tilfluktsrom i Skodje,Offentlige tilfluktsrom i Sula,Offentlige tilfluktsrom i Giske,Offentlige tilfluktsrom i Haram,Offentlige tilfluktsrom i Vestnes,Offentlige tilfluktsrom i Rauma,Offentlige tilfluktsrom i Nesset,Offentlige tilfluktsrom i Midsund,Offentlige tilfluktsrom i Sandøy,Offentlige tilfluktsrom i Aukra,Offentlige tilfluktsrom i Fræna,Offentlige tilfluktsrom i Eide,Offentlige tilfluktsrom i Averøy,Offentlige tilfluktsrom i Gjemnes,Offentlige tilfluktsrom i Tingvoll,Offentlige tilfluktsrom i Sunndal,Offentlige tilfluktsrom i Surnadal,Offentlige tilfluktsrom i Rindal,Offentlige tilfluktsrom i Halsa,Offentlige tilfluktsrom i Smøla,Offentlige tilfluktsrom i Aure,Offentlige tilfluktsrom i Bodø,Offentlige tilfluktsrom i Narvik,Offentlige tilfluktsrom i Bindal,Offentlige tilfluktsrom i Sømna,Offentlige tilfluktsrom i Brønnøy,Offentlige tilfluktsrom i Vega,Offentlige tilfluktsrom i Vevelstad,Offentlige tilfluktsrom i Herøy,Offentlige tilfluktsrom i Alstahaug,Offentlige tilfluktsrom i Leirfjord,Offentlige tilfluktsrom i Vefsn,Offentlige tilfluktsrom i Grane,Offentlige tilfluktsrom i Hattfjelldal,Offentlige tilfluktsrom i Dønna,Offentlige tilfluktsrom i Nesna,Offentlige tilfluktsrom i Hemnes,Offentlige tilfluktsrom i Rana,Offentlige tilfluktsrom i Lurøy,Offentlige tilfluktsrom i Trøna,Offentlige tilfluktsrom i Rødåy,Offentlige tilfluktsrom i Meløy,Offentlige tilfluktsrom i Gildeskøl,Offentlige tilfluktsrom i Beiarn,Offentlige tilfluktsrom i Saltdal,Offentlige tilfluktsrom i Fauske - Fuosko,Offentlige tilfluktsrom i Sørfold,Offentlige tilfluktsrom i Steigen,Offentlige tilfluktsrom i Hamarøy - Håbmer,Offentlige tilfluktsrom i Divtasvuodna - Tysfjord,Offentlige tilfluktsrom i Lødingen,Offentlige tilfluktsrom i Tjeldsund,Offentlige tilfluktsrom i Evenes,Offentlige tilfluktsrom i Ballangen,Offentlige tilfluktsrom i Røst,Offentlige tilfluktsrom i Vårøy,Offentlige tilfluktsrom i Flakstad,Offentlige tilfluktsrom i Vestvågøy,Offentlige tilfluktsrom i Vågan,Offentlige tilfluktsrom i Hadsel,Offentlige tilfluktsrom i Bø,Offentlige tilfluktsrom i Åksnes,Offentlige tilfluktsrom i Sortland - Suortå,Offentlige tilfluktsrom i Andøy,Offentlige tilfluktsrom i Moskenes,Offentlige tilfluktsrom i Tromsø,Offentlige tilfluktsrom i Harstad - Hørsttåk,Offentlige tilfluktsrom i Kvøfjord,Offentlige tilfluktsrom i Skønland,Offentlige tilfluktsrom i Ibestad,Offentlige tilfluktsrom i Gratangen,Offentlige tilfluktsrom i Loabøk - Lavangen,Offentlige tilfluktsrom i Bardu,Offentlige tilfluktsrom i Salangen,Offentlige tilfluktsrom i Mølselv,Offentlige tilfluktsrom i Sørreisa,Offentlige tilfluktsrom i Dyrøy,Offentlige tilfluktsrom i Tranøy,Offentlige tilfluktsrom i Torsken,Offentlige tilfluktsrom i Berg,Offentlige tilfluktsrom i Lenvik,Offentlige tilfluktsrom i Balsfjord,Offentlige tilfluktsrom i Karlsøy,Offentlige tilfluktsrom i Lyngen,Offentlige tilfluktsrom i Storfjord - Omasvuotna - Omasvuono,Offentlige tilfluktsrom i Gøivuotna - Køfjord - Kaivuono,Offentlige tilfluktsrom i Skjervøy,Offentlige tilfluktsrom i Nordreisa,Offentlige tilfluktsrom i Kvønangen,Offentlige tilfluktsrom i Vardø,Offentlige tilfluktsrom i Vadsø,Offentlige tilfluktsrom i Hammerfest,Offentlige tilfluktsrom i Guovdageaidnu - Kautokeino,Offentlige tilfluktsrom i Alta,Offentlige tilfluktsrom i Loppa,Offentlige tilfluktsrom i Hasvik,Offentlige tilfluktsrom i Kvalsund,Offentlige tilfluktsrom i Møsøy,Offentlige tilfluktsrom i Nordkapp,Offentlige tilfluktsrom i Porsanger - Porsanki,Offentlige tilfluktsrom i Karasjohka - Karasjok,Offentlige tilfluktsrom i Lebesby,Offentlige tilfluktsrom i Gamvik,Offentlige tilfluktsrom i Berlevåg,Offentlige tilfluktsrom i Deatnu - Tana,Offentlige tilfluktsrom i Unjørga - Nesseby,Offentlige tilfluktsrom i Båtsfjord,Offentlige tilfluktsrom i Sør-Varanger,Offentlige tilfluktsrom i Trondheim,Offentlige tilfluktsrom i Steinkjer,Offentlige tilfluktsrom i Namsos,Offentlige tilfluktsrom i Hemne,Offentlige tilfluktsrom i Snillfjord,Offentlige tilfluktsrom i Hitra,Offentlige tilfluktsrom i Frøya,Offentlige tilfluktsrom i Ørland,Offentlige tilfluktsrom i Agdenes,Offentlige tilfluktsrom i Bjugn,Offentlige tilfluktsrom i Åfjord,Offentlige tilfluktsrom i Roan,Offentlige tilfluktsrom i Osen,Offentlige tilfluktsrom i Oppdal,Offentlige tilfluktsrom i Rennebu,Offentlige tilfluktsrom i Meldal,Offentlige tilfluktsrom i Orkdal,Offentlige tilfluktsrom i Røros,Offentlige tilfluktsrom i Holtølen,Offentlige tilfluktsrom i Midtre Gauldal,Offentlige tilfluktsrom i Melhus,Offentlige tilfluktsrom i Skaun,Offentlige tilfluktsrom i Kløbu,Offentlige tilfluktsrom i Malvik,Offentlige tilfluktsrom i Selbu,Offentlige tilfluktsrom i Tydal,Offentlige tilfluktsrom i Merøker,Offentlige tilfluktsrom i Stjørdal,Offentlige tilfluktsrom i Frosta,Offentlige tilfluktsrom i Levanger,Offentlige tilfluktsrom i Verdal,Offentlige tilfluktsrom i Verran,Offentlige tilfluktsrom i Namdalseid,Offentlige tilfluktsrom i Snøase - Snøsa,Offentlige tilfluktsrom i Lierne,Offentlige tilfluktsrom i Raarvihke - Røyrvik,Offentlige tilfluktsrom i Namsskogan,Offentlige tilfluktsrom i Grong,Offentlige tilfluktsrom i Høylandet,Offentlige tilfluktsrom i Overhalla,Offentlige tilfluktsrom i Fosnes,Offentlige tilfluktsrom i Flatanger,Offentlige tilfluktsrom i Vikna,Offentlige tilfluktsrom i Nørøy,Offentlige tilfluktsrom i Leka,Offentlige tilfluktsrom i Inderøy,Offentlige tilfluktsrom i Indre Fosen">
  <meta name="robots" content="index, follow">

  <!-- Google + -->
  <meta itemprop="[Organization]">
  <meta itemprop="name" content="Offentlige tilfluktsrom i Norge">
  <meta itemprop="description" content="Oversikt over alle offentlige tilfluktsrom registrert av  Direktoratet for samfunnssikkerhet og beredskap. Finn ditt nærmeste tilfluktsrom og skap en større trygghet for deg og dine nærmeste"
    .>
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge">
  <meta itemprop="image" content="img/cover.jpg">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Offentlige tilfluktsrom i Norge">
  <meta name="twitter:description" content="Oversikt over alle offentlige tilfluktsrom registrert av  Direktoratet for samfunnssikkerhet og beredskap. Finn ditt nærmeste tilfluktsrom og skap en større trygghet for deg og dine nærmeste.">
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge - Finn dit tilfluktsrom">
  <meta name="twitter:image" content="img/cover.jpg">
  <meta name="twitter:url" content="https://offentligetilfluktsrom.no">

  <!-- Facebook -->
  <meta property="og:title" content="Offentlige tilfluktsrom i Norge">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://offentligetilfluktsrom.no">
  <meta property="og:image" content="img/cover.jpg">
  <meta property="og:description" content="Oversikt over alle offentlige tilfluktsrom registrert av  Direktoratet for samfunnssikkerhet og beredskap. Finn ditt nærmeste tilfluktsrom og skap en større trygghet for deg og dine nærmeste.">
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge - Finn dit tilfluktsrom">

  <!-- Title -->
  <title>Offentlige tilfluktsrom i Norge</title>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/mdb.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<!-- Main navigation -->
<header class="mb-5">
  <!--<div id="faceBook">
      <button id="logInBtn" type="button" class="btn btn-md btn-fb z-depth-5">Logg Inn med <i class="fa fa-facebook pl-1 pr-1"></i> Facebook</button>
  </div>-->
  <!-- Full Page Intro -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('/img/cover.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div id="headerCont" class="col-md-12 mb-4 white-text text-center animated fadeIn">
            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5">
              <strong>Offentlige tilfluktsrom
                <br>
                <span id="norway">Norge</span>
              </strong>
            </h1>
            <hr class="hr-light my-4">
            <h5 class="text-uppercase mb-4 white-text">
              <strong>Vær bevisst, vær trygg</strong>
            </h5>
            <a id="nearestLocation" class="btn btn-outline-white z-depth-5 introBtn">
              <i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Nærmest meg</a>
            <a id="searchBtn" class="btn btn-outline-white z-depth-5 introBtn">
              <i class="fa fa-search pr-1" aria-hidden="true"></i> Søk</a>
            <a id="openMainMapTrigger" class="btn btn-outline-white z-depth-5 introBtn">
              <i class="fa fa-map pr-1" aria-hidden="true"></i> Norgeskart<span id="newBadge" class="badge pink">New</span></a>
            <div id="searchCont" class="col-12 animated fadeIn">
              <div class="input-group md-form form-sm form-2 pl-0">
                <input id="search" type="text" placeholder="Søk by, fylke, kommune..." autocomplete="off">
                <div class="input-group-append">
                  <span class="input-group-text" id="runSearch">
                    <i class="fa fa-send-o" aria-hidden="true"></i>
                  </span>
                  <a id="scrollShelters" href="#shelters" data-offset="40"></a>
                </div>
              </div>
              <p id="cancelSearch" class="text-center">Avbryt</p>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

{{{body}}}

<!-- Footer -->
<footer class="page-footer font-small special-color-dark darken-3">

  <!-- Footer Links -->
  <div class="container wow fadeIn" data-wow-delay="0.2s">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div id="footerLinks" class="mb-5 flex-center ml-5">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/semantaweb/" target="_blank">
            <i class="fa fa-facebook fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/semantaweb/" target="_blank">
            <i class="fa fa-linkedin fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/semantaweb/" target="_blank">
            <i class="fa fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pt-3">© 2018 Copyright:
    <a id="semanta" href="http://semanta.no" target="_blank">
      <img src="img/brandlogo.png" alt="Semanta Logo"> semanta.no</a>
  </div>
  <div class="footer-copyright text-center py-3">Dataset levert av
    <a id="dsb" href="https://www.dsb.no/" target="_blank"> Direktoratet for samfunnssikkerhet og beredskap</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Scripts -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_jiuMdTONboV9E0sHZ5U5-js9zwyd4GU&callback=initMap"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96159354-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-96159354-5');
</script>
</html>
