<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" sizes="32x32" href="img/pin.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="img/pin.ico">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <meta name="robots" content="follow, index" />
  <meta name="publisher" content="Semanta" />
  <meta name="description" content="Oversikt over alle offentlige tilfluktsrom i Norge. Finn ditt tilfluktsrom og skap en større trygghet for deg og dine nærmeste.">
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge">
  <meta name="keyword" content="tilfluktsrom, offentlig, norge, tilfluktsrom i norge, nærmeste tilfluktsrom, offentlig bomberom, bomberom i norge, mitt tilfluktsrom, alle tilfluktsrom i norge, hvor er det tilfluktsrom, tilfluktsrom for alle, mitt nærmeste tilfluktsrom, nærmeste tilfluktsrom">
  <meta name="robots" content="index, follow">

  <!-- Google + -->
  <meta itemprop="[Organization]">
  <meta itemprop="name" content="Offentlige tilfluktsrom i Norge">
  <meta itemprop="description" content="Oversikt over alle offentlige tilfluktsrom registrert av  Direktoratet for samfunnssikkerhet og beredskap. Finn ditt nærmeste tilfluktsrom og skap en større trygghet for deg og dine nærmeste"
    .>
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge">
  <meta itemprop="image" content="img/cover.jpg">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Offentlige tilfluktsrom i Norge">
  <meta name="twitter:description" content="Oversikt over alle offentlige tilfluktsrom registrert av  Direktoratet for samfunnssikkerhet og beredskap. Finn ditt nærmeste tilfluktsrom og skap en større trygghet for deg og dine nærmeste.">
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge - Finn dit tilfluktsrom">
  <meta name="twitter:image" content="img/cover.jpg">
  <meta name="twitter:url" content="https://offentligetilfluktsrom.no">

  <!-- Facebook -->
  <meta property="og:title" content="Offentlige tilfluktsrom i Norge">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://offentligetilfluktsrom.no">
  <meta property="og:image" content="img/cover.jpg">
  <meta property="og:description" content="Oversikt over alle offentlige tilfluktsrom registrert av  Direktoratet for samfunnssikkerhet og beredskap. Finn ditt nærmeste tilfluktsrom og skap en større trygghet for deg og dine nærmeste.">
  <meta property="og:site_name" content="Offentlige tilfluktsrom i Norge - Finn dit tilfluktsrom">

  <!-- Title -->
  <title>Offentlige tilfluktsrom i Norge</title>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/mdb.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<!-- Main navigation -->
<header class="mb-5">
  <div id="openMap">
      <a id="openMainMapTrigger"><i class="fa fa-map" aria-hidden="true"></i></a>
  </div>
  <!-- Full Page Intro -->
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('/img/cover.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div id="headerCont" class="col-md-12 mb-4 white-text text-center">
            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5">
              <strong>Offentlige tilfluktsrom
                <br>
                <span id="norway">Norge</span>
              </strong>
            </h1>
            <hr class="hr-light my-4">
            <h5 class="text-uppercase mb-4 white-text">
              <strong>Vær bevisst, vær trygg</strong>
            </h5>
            <a id="nearestLocation" class="btn btn-outline-white z-depth-5 introBtn">
              <i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Nærmest meg</a>
            <a id="searchBtn" class="btn btn-outline-white z-depth-5 introBtn">
              <i class="fa fa-search pr-1" aria-hidden="true"></i> Søk</a>
            <a id="seeAll" class="btn btn-outline-white z-depth-5 introBtn">
              <i class="fa fa-map-o pr-1" aria-hidden="true"></i> Se alle</a>
            <div id="searchCont" class="col-12 animated fadeIn">
              <div class="input-group md-form form-sm form-2 pl-0">
                <input id="search" type="text" placeholder="Søk by, fylke, kommune..." autocomplete="off">
                <div class="input-group-append">
                  <span class="input-group-text" id="runSearch">
                    <i class="fa fa-send-o" aria-hidden="true"></i>
                  </span>
                  <a id="scrollShelters" href="#shelters" data-offset="40"></a>
                </div>
              </div>
              <p id="cancelSearch" class="text-center">Avbryt</p>
            </div>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->
</header>
<!-- Main navigation -->

{{{body}}}

<!-- Footer -->
<footer class="page-footer font-small special-color-dark darken-3">

  <!-- Footer Links -->
  <div class="container wow fadeIn" data-wow-delay="0.2s">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div id="footerLinks" class="mb-5 flex-center ml-5">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/semantaweb/" target="_blank">
            <i class="fa fa-facebook fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/semantaweb/" target="_blank">
            <i class="fa fa-linkedin fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/semantaweb/" target="_blank">
            <i class="fa fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pt-3">© 2018 Copyright:
    <a id="semanta" href="http://semanta.no" target="_blank">
      <img src="img/brandlogo.png" alt="Semanta Logo"> semanta.no</a>
  </div>
  <div class="footer-copyright text-center py-3">Dataset levert av
    <a id="dsb" href="https://www.dsb.no/" target="_blank"> Direktoratet for samfunnssikkerhet og beredskap</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Scripts -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_jiuMdTONboV9E0sHZ5U5-js9zwyd4GU&callback=initMap"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96159354-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-96159354-5');
</script>
</html>