<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Shelters in Norway</title>

      <!-- STYLES -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
      <link rel="stylesheet" href="/css/mdb.min.css">
      <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <!-- Main navigation -->
  <header>
    <!-- Full Page Intro -->
    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('/img/cover.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div id="headerCont" class="col-md-12 mb-4 white-text text-center">
              <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown" data-wow-delay="0.3s"><strong>Offentlige tilfluktsrom<br><span id="norway">Norge</span></strong></h1>
              <hr class="hr-light my-4 wow fadeInDown" data-wow-delay="0.4s">
              <h5 class="text-uppercase mb-4 white-text wow fadeInDown" data-wow-delay="0.4s"><strong>Vær bevist, skap en oversikt</strong></h5>
              <a class="btn btn-outline-white wow fadeInDown z-depth-5" data-wow-delay="0.4s"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Nærmest meg</a>
              <a id="searchBtn" class="btn btn-outline-white wow fadeInDown z-depth-" data-wow-delay="0.4s"><i class="fa fa-search pr-1" aria-hidden="true"></i> Søk</a>
              <a class="btn btn-outline-white wow fadeInDown z-depth-" data-wow-delay="0.4s"><i class="fa fa-map-o pr-1" aria-hidden="true"></i> Se alle</a>
              <div id="searchCont" class="col-12 animated fadeIn">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <input id="search" type="text" placeholder="Søk by, fylke, kommune..." autocomplete="off">
                    <div class="input-group-append smooth-scroll">
                        <span class="input-group-text" id="runSearch"><i class="fa fa-send-o" aria-hidden="true"></i></span>
                        <a id="scrollShelters" href="#shelters"></a>
                    </div>
                </div>
                <p id="cancelSearch" class="text-center">Avbryt</p>
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
  </header>
  <!-- Main navigation -->
    
    <body>
      {{{body}}}
    </body>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_jiuMdTONboV9E0sHZ5U5-js9zwyd4GU&callback=initMap"></script>
</html>