
{{{body}}}

<!-- Footer -->
<footer class="page-footer font-small special-color-dark darken-3">

  <!-- Footer Links -->
  <div class="container wow fadeIn" data-wow-delay="0.2s">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div id="footerLinks" class="mb-5 flex-center ml-5">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/semantaweb/" target="_blank">
            <i class="fa fa-facebook fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/company/semantaweb/" target="_blank">
            <i class="fa fa-linkedin fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com/semantaweb/" target="_blank">
            <i class="fa fa-instagram fa-lg mr-md-5 mr-3 fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center pt-3">© 2018 Copyright:
    <a id="semanta" href="http://semanta.no" target="_blank">
      <img src="img/brandlogo.png" alt="Semanta Logo"> semanta.no</a>
  </div>
  <div class="footer-copyright text-center py-3">Dataset levert av
    <a id="dsb" href="https://www.dsb.no/" target="_blank"> Direktoratet for samfunnssikkerhet og beredskap</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<!-- Scripts -->
<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mdb.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_jiuMdTONboV9E0sHZ5U5-js9zwyd4GU&callback=initMap"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96159354-5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-96159354-5');
</script>
</html>