<body>
    <!--<div id="googleMap" style="width:100%;height:400px;"></div>-->
    <div id="shelters" class="container mt-5">
        <div id="sheltersRow" class="row">
        </div>
    </div>
</body>