<body>
    <div class="loadingScreen animated fadeIn">
        <div id="loader" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div>
                <div class="gap-patch">
                <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="shelters" class="container">
        <h1 id="resultFor" class="text-center mt-5 mb-5"></h1>
        <div id="shelterInfo" class="row mb-5 animated fadeIn">
            <!--Pagination-->
            <nav id="paginationCol" aria-label="pagination example" class="col">
                <ul class="pagination pg-red">
                </ul>
            </nav>
            <div class="col">
                <h3 class="text-right"><span id="shelterSpots" class="pr-1"></span> plasser</h3>
            </div>
            <div class="col">
                <h3 class="text-right"><span id="shelterTotal" class="pr-1"></span> tilfluktsrom</h3>
            </div>
        </div>
        <div id="sheltersRow" class="row"></div>
        <div id="noResults" class="row mt-5 mb-5 animated fadeIn">
            <div class="col"><h1 class="text-center">Fant ingen treff</h1>
                <div class="col-md-4 offset-md-4 mt-5 mb-5">
                    <img src="/img/map.png" class="img-fluid">
                </div>
                <h5 class="text-center mt-5 mb-5">Ligger det tilfluktsrom her?</h5>
                <div class="row justify-content-center">
                    <button id="toForm" type="button" class="btn waves-effect">Hjelp oss å vise det</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Section: Features v.1 -->
    <section id="info" class="text-center my-5 container mb-5 pb-5">
        <hr class="py-2 pb-4">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5">Få en oversikt over tilgjengelige tilfluktsrom</h2>
        <!-- Section description -->
        <p class="lead grey-text w-responsive mx-auto mb-5">Oversikt over 366 offentlige tilfluktsrom, spredt over hele Norge.</p>

        <!-- Grid row -->
        <div class="row mb-5 pb-5">

            <!-- Grid column -->
            <div class="col-md-4">

            <i class="fa fa-map-marker fa-3x red-text"></i>
            <h5 class="font-weight-bold my-4">Google Maps</h5>
            <p class="grey-text mb-md-0 mb-5">Viser nøyaktig lokasjon av tilfluktsrom ved bruk av kordinater og Google Maps.
            </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

            <i class="fa fa-info fa-3x cyan-text"></i>
            <h5 class="font-weight-bold my-4">Informasjon</h5>
            <p class="grey-text mb-md-0 mb-5">Se nyttig informasjon som antall plasser, areal, byggeår, sted og mer.
            </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

            <i class="fa fa-check fa-3x orange-text"></i>
            <h5 class="font-weight-bold my-4">Oppdatert</h5>
            <p class="grey-text mb-0">Data er oppdatert til dags dato og blir jevnlig oppdatert ved endring av tilfluktsrom.
            </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Features v.1 -->
    <!-- Expand card -->
    <div class="modal fade top" id="expandCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-top" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div id="modalMap" class="col z-depth-1"></div>
                    </div>
                    <div class="container my-5">
                        <h2 id="modalAdresse" class="h1-responsive font-weight-bold text-center mb-5"></h2>
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-3 text-center mr-5">
                                <img class="img-fluid" src="/img/logos/oslo.png" alt="Sample image">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-md-4">

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-object-group deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Areal</h5>
                                    <p id="modalAreal" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-sticky-note deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Kommunenummer</h5>
                                    <p id="modalKommunenr" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-md-0 mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-tags deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Gnr / bnr</h5>
                                    <p id="modalGnrBnr" class="grey-text mb-md-3"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-md-0 mt-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-industry deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Kommune</h5>
                                    <p id="modalKommune" class="grey-text mb-md-0"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-map deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Distriktsnavn</h5>
                                    <p id="modalDistriktsnavn" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-reorder deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Kategori</h5>
                                    <p id="modalKategori" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-group deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Plasser</h5>
                                    <p id="modalPlasser" class="grey-text mb-3"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                    <i class="fa fa-2x fa-shield deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                    <h5 class="font-weight-bold mb-3">Romstype</h5>
                                    <p id="modalRomstype" class="grey-text mb-0"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                            </div>
                            <!-- Grid column -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModal" type="button" class="btn btn-secondary" data-dismiss="modal">Tilbake</button>
                    <button type="button" class="btn btn-primary">Send meg på e-post</button>
                </div>
            </div>
        </div>
    </div>
</body>