<body class="scrollbar bordered-pink">
    <div class="loadingScreen animated fadeIn jarallax">
        <div id="loader" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <h2 id="loadingMsg"></h2>
    </div>
    <div id="shelters" class="container">
        <h1 id="resultFor" class="text-center mt-5 mb-5 pt-5"></h1>
        <div id="shelterInfo" class="row mb-5 animated fadeIn">
            <!--Pagination-->
            <nav id="paginationCol" aria-label="pagination example" class="col-sm-12 col-md-10 col-lg-4">
                <ul class="pagination pg-red">
                </ul>
            </nav>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h3 class="text-right">
                    <span id="shelterSpots" class="pr-1"></span> plasser</h3>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <h3 class="text-right">
                    <span id="shelterTotal" class="pr-1"></span> tilfluktsrom</h3>
            </div>
        </div>
        <div id="sheltersRow" class="row"></div>
        <div id="noResults" class="row mt-5 mb-5 animated fadeIn">
            <div class="col">
                <h1 class="text-center">Fant ingen treff</h1>
                <div class="col-md-4 offset-md-4 mt-5 mb-5">
                    <img src="/img/map.png" class="img-fluid">
                </div>
                <h5 class="text-center mt-5 mb-5">Ligger det tilfluktsrom her?</h5>
                <div class="row justify-content-center">
                    <button id="toForm" type="button" class="btn waves-effect">Hjelp oss å vise det</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Section: Features v.1 -->
    <section id="info" class="text-center my-5 container wow fadeIn" data-wow-delay="0.2s">
        <hr class="py-2 pb-4">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold my-5 dark-grey-text">Få en oversikt over tilgjengelige tilfluktsrom</h2>
        <!-- Section description -->
        <p class="lead grey-text w-responsive mx-auto mb-5">Oversikt over 316 offentlige tilfluktsrom, spredt over hele Norge.</p>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-map-marker fa-3x red-text"></i>
                <h5 class="font-weight-bold my-4 dark-grey-text">Google Maps</h5>
                <p class="grey-text mb-md-0 mb-5">Viser nøyaktig lokasjon av tilfluktsrom ved bruk av kordinater og Google Maps.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-info fa-3x cyan-text"></i>
                <h5 class="font-weight-bold my-4 dark-grey-text">Informasjon</h5>
                <p class="grey-text mb-md-0 mb-5">Se nyttig informasjon som antall plasser, areal, byggeår, sted og mer.
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4">

                <i class="fa fa-check fa-3x orange-text"></i>
                <h5 class="font-weight-bold my-4 dark-grey-text">Oppdatert</h5>
                <p class="grey-text mb-0">Data er oppdatert til dags dato og blir jevnlig oppdatert ved endring av tilfluktsrom.
                </p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <section id="sendInShelterCont" class="pb-5 pt-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="container">
            <hr class="pb-5">
            <h2 class="text-center dark-grey-text mt-5 mb-5">Vet du om tilfluktsrom som ikke er registrert?</h2>
            <div class="row justify-content-center">
                <button id="sendShelterBtn" type="button" class="btn waves-effect">Hjelp oss å vise det</button>
            </div>
        </div>
    </section>
    <!-- Section: Features v.1 -->
    <!-- Expand card -->
    <div class="modal fade top" id="expandCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-top" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div id="modalMap" class="col z-depth-1"></div>
                    </div>
                    <div class="container my-5">
                        <h2 id="modalAdresse" class="h1-responsive font-weight-bold text-center mb-5"></h2>
                        <div class="row">
                            <!-- Grid column -->
                            <div id="modalImgCont" class="col-sm-12 col-md-12 col-lg-3 text-center mr-5">
                                <img id="modalImg" class="img-fluid z-depth-1 mt-5" src="" alt="Sample image">
                            </div>
                            <!-- Grid column -->
                            <!-- Grid column -->
                            <div class="col-sm-12 col-md-12 col-lg-3 mt-3">

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-object-group deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Areal</h5>
                                        <p id="modalAreal" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-sticky-note deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Kommunenummer</h5>
                                        <p id="modalKommunenr" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-md-0 mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-tags deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Gnr / bnr</h5>
                                        <p id="modalGnrBnr" class="grey-text mb-md-3"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-md-0 mt-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-industry deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Kommune</h5>
                                        <p id="modalKommune" class="grey-text mb-md-3"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-sm-12 col-md-12 col-lg-3 mt-3">

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-map deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Distriktsnavn</h5>
                                        <p id="modalDistriktsnavn" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-reorder deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Kategori</h5>
                                        <p id="modalKategori" class="grey-text"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row mb-3">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-group deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Plasser</h5>
                                        <p id="modalPlasser" class="grey-text mb-3"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                                <!-- Grid row -->
                                <div class="row">

                                    <!-- Grid column -->
                                    <div class="col-2">
                                        <i class="fa fa-2x fa-shield deep-purple-text"></i>
                                    </div>
                                    <!-- Grid column -->

                                    <!-- Grid column -->
                                    <div class="col-10">
                                        <h5 class="font-weight-bold mb-3">Romstype</h5>
                                        <p id="modalRomstype" class="grey-text mb-0"></p>
                                    </div>
                                    <!-- Grid column -->

                                </div>
                                <!-- Grid row -->

                            </div>
                            <!-- Grid column -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeModal" type="button" class="btn" data-dismiss="modal">Tilbake</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: modalPoll -->
    <div class="modal fade right" id="modalSendShelter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
        data-backdrop="true">
        <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <p class="heading lead">Skjema for tilfluktsrom</p>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="white-text">×</span>
                    </button>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fa fa-file-text-o fa-4x mb-3 animated rotateIn"></i>
                        <p>
                            <strong>Vet du om et tilfluktsrom?
                                <strong></strong>
                                <br>Fyll ut skjema og vi vil legge det til</strong>
                        </p>
                    </div>

                    <hr class="mb-5 mt-4">

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="Ola Nordmann" type="text" id="senderName" class="form-control">
                                <label for="senderName">Ditt navn</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="Nordre gate 1" type="text" id="adresse" class="form-control">
                                <label for="adresse">Adresse</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="401" type="text" id="gardsnummer" class="form-control">
                                <label for="Gardsnummer">Gårdsnummer</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="368" type="text" id="bruksnummer" class="form-control">
                                <label for="Bruksnummer">Bruksnummer</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="1601" type="text" id="kommunenummer" class="form-control">
                                <label for="kommunenunner">Kommunenummer</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="511" type="text" id="areal" class="form-control">
                                <label for="areal">Areal</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="1984" type="text" id="byggear" class="form-control">
                                <label for="byggear">Byggeår</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="76-ROM A" type="text" id="kategori" class="form-control">
                                <label for="kategori">Kategori</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="Trondheim" type="text" id="kommune" class="form-control">
                                <label for="kommune">Kommune</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="Sør-Trønderlag" type="text" id="distriktsnavn" class="form-control">
                                <label for="distriktsnavn">Distriktsnavn</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="630" type="text" id="plasser" class="form-control">
                                <label for="plasser">Plasser</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="Offentlig" type="text" id="romtype" class="form-control">
                                <label for="romtype">Romtype</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="10.398021412945194" type="text" id="latitude" class="form-control">
                                <label for="latitude">Latitude</label>
                            </div>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col">
                            <!-- Material input -->
                            <div class="md-form mt-0">
                                <input placeholder="63.431074231659643" type="text" id="longitude" class="form-control">
                                <label for="longitude">Longitude</label>
                            </div>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->

                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <a id="sendInfoShelter" type="button" class="btn waves-effect waves-light">Send
                        <i class="fa fa-paper-plane ml-1"></i>
                    </a>
                    <a id="cancelSendInfoShelter" type="button" class="btn btn-outline waves-effect" data-dismiss="modal">Avbryt</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: modalPoll -->

    <!--Grid row-->
    <div class="container">
        <hr>
        <div class="row my-5 wow fadeIn" data-wow-delay="0.2s">

            <!--Grid column-->
            <div id="sharePage" class="col-md-12 text-center">

                <h4 class="text-center font-weight-bold dark-grey-text mt-3 mb-3">
                    <strong>Del denne siden</strong>
                </h4>

                <a id="shareFacebook" target="_blank">
                    <button type="button" class="btn btn-fb btn-sm">
                        <i class="fa fa-facebook left"></i> Facebook</button>
                </a>
                <!--Twitter-->
                <a id="shareTwitter" target="_blank">
                    <button type="button" class="btn btn-tw btn-sm">
                        <i class="fa fa-twitter left"></i> Twitter</button>
                </a>
                <!--Google +-->
                <a id="shareLinkedin" target="_blank">
                    <button type="button" class="btn btn-li btn-sm">
                        <i class="fa fa-linkedin left"></i> Linkedin</button>
                </a>
                <a id="shareGoogle" target="_blank">
                    <button type="button" class="btn btn-gplus btn-sm">
                        <i class="fa fa-google-plus pr-1"></i> Google +</button>
                </a>
                <a id="shareEmail">
                    <button type="button" class="btn btn-email btn-sm">
                        <i class="fa fa-envelope pr-1"></i> E-post</button>
                </a>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>
    <form id="shelterForm" method="POST" action="/form" target="hidden">
        <input id="shelterArr" name="shelterData">
    </form>
</body>