<body>
    <div class="loadingScreen animated fadeIn">
        <div id="loader" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-red-only">
                <div class="circle-clipper left">
                <div class="circle"></div>
                </div>
                <div class="gap-patch">
                <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="googleMap" style="width:100%;height:400px;"></div>-->
    <div id="shelters" class="container mt-5">
        <div id="shelterInfo" class="row">
            <!--Pagination-->
            <nav aria-label="pagination example" class="col">
                <ul class="pagination pg-red">
                </ul>
            </nav>
            <div class="col">
                <h3 class="text-right"><span id="shelterSpots" class="pr-1"></span> plasser</h3>
            </div>
            <div class="col">
                <h3 class="text-right"><span id="shelterTotal" class="pr-1"></span> tilfluktsrom</h3>
            </div>
        </div>
        <div id="sheltersRow" class="row">
        </div>
    </div>
    <!-- Expand card -->
    <div class="modal fade top" id="expandCard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-top" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div id="modalMap" class="col z-depth-1"></div>
                    </div>
                    <div class="container my-5">
                        <div class="row">
                            <!-- Grid column -->
                            <div class="col-md-4">

                            <!-- Grid row -->
                            <div class="row mb-3">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-flag-checkered deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Areal</h5>
                                <p id="modalAreal" class="grey-text"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row mb-3">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-flask deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Kommunenummer</h5>
                                <p id="modalKommunenr" class="grey-text"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row mb-md-0 mb-3">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-glass deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Gnr / bnr</h5>
                                <p id="modalGnrBnr" class="grey-text mb-md-3"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row mb-md-0 mt-3">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-glass deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Kommune</h5>
                                <p id="modalKommune" class="grey-text mb-md-0"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4 text-center">
                            <img class="img-fluid" src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="Sample image">
                            </div>
                            <!-- Grid column -->

                            <!-- Grid column -->
                            <div class="col-md-4">

                            <!-- Grid row -->
                            <div class="row mb-3">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-heart deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Distriktsnavn</h5>
                                <p id="modalDistriktnavn" class="grey-text"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row mb-3">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-flash deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Kategori</h5>
                                <p id="modalKategori" class="grey-text"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row mb-3">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-magic deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Plasser</h5>
                                <p id="modalPlasser" class="grey-text mb-3"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            <!-- Grid row -->
                            <div class="row">

                                <!-- Grid column -->
                                <div class="col-2">
                                <i class="fa fa-2x fa-magic deep-purple-text"></i>
                                </div>
                                <!-- Grid column -->

                                <!-- Grid column -->
                                <div class="col-10">
                                <h5 class="font-weight-bold mb-3">Romstype</h5>
                                <p id="modalRomstype" class="grey-text mb-0"></p>
                                </div>
                                <!-- Grid column -->

                            </div>
                            <!-- Grid row -->

                            </div>
                            <!-- Grid column -->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>
</body>