/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
}

body:before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;

    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
        -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
                   box-shadow: 0px 0px 10px rgba(0,0,0,.8);

    z-index: 100;
}

.rgba-strong-black {
    transition: all 0.1s;
}

body {
    overflow-x: hidden;
}

.top-nav-collapse {
  background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

#norway {
    margin-top: 20px;
    font-size: 80px;
    color: #f50057;
}

#headerCont a {
    margin-top: 50px;
    width: 200px;
    transition: all 0.3s;
    margin-right: 1%;
    margin-left: 1%;
}

#headerCont .introBtn:hover {
    color: #f50057 !important;
    border: 2px solid #f50057 !important;
    font-weight: 400;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-body {
    min-height: 150px;
}

#searchCont {
    display: none;
    margin-top: 50px;
}

#search {
    width: 100%;
    font-size: 55px;
    border: none;
    background-color: transparent;
    color: #f50057;
    text-transform: uppercase;
    width: 75%;
    margin-left: 10%;
    margin-right: 0;
    margin-bottom: 0;
    border-bottom: 3px solid #f50057;
}

#search::placeholder {
    padding-left: 10px;
}

#search:focus {
    outline: none;
    box-shadow: none!important;
}

#search,
[contenteditable] {
  caret-color: #f50057 !important;
}

#runSearch {
    background-color: transparent;
    border:none;
    font-size: 45px;
    color: #f50057;
    opacity: 0.5;
}

#runSearch:hover {
    cursor: pointer;
}

#cancelSearch {
    transition: all 0.3s;
    opacity: 0.5;
    width: 5%;
    margin: 0 auto;
}

#cancelSearch:hover {
    cursor: pointer;
    opacity: 1;
}

#scrollShelters {
    display: none;
}

#shelterInfo h3 span {
    color: #f50057;
    font-weight: 600;
    font-size: 50px;
}

div.loadingScreen {
    background: linear-gradient(
    rgba(20,20,20, .8), 
    rgba(20,20,20, .8)),
    url("/img/loading/loading1.jpg");
	background-size: cover !important;
	background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center center !important;
    width:      100%;
    height:     100%; 
    z-index:    1337;
    top:        0; 
    left:       0; 
    position:   fixed;
    display: none;
  }

  #loader {
    position: fixed;
    top: 50%;
    left: 48.5%;
  }

.example ul {
    max-width: 100px;
}

#expandCard .modal-dialog {
    border-radius: 0px !important;
}

#expandCard .modal-body {
    min-height: 90.5vh;
    padding-top: 0;
}

#expandCard .modal-body #modalMap {
    width: 100%;
    height: 400px;
}

#expandCard .modal-body i {
    color:  #f50057 !important;
}

#expandCard #closeModal {
    background-color: #f50057 !important;
    color: white !important;
}

#shelterInfo {
    display: none;
}

#toForm, #sendShelterBtn {
    color: white !important;
    background-color:  #f50057 !important;
}

#noResults {
    display: none;
}

#footerLinks a {
    color: #757575 !important;
}

#sendInShelterCont {
    padding-bottom: 6vh !important;
}

#modalSendShelter .modal-header {
    background-color: #f50057;
}

#modalSendShelter .modal-body i {
    color: #f50057 !important;
}

#sendInfoShelter {
    background-color: #f50057;
    color: white;
}

#cancelSendInfoShelter {
    color: #f50057 !important;
    border: 2px solid #f50057;
}

#modalSendShelter input[type=text]:focus:not([readonly]) + label {
    color: #f50057; 
}

#modalSendShelter input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f50057;
    box-shadow: 0 1px 0 0 #f50057; 
}

.formOk label {
    color: #00C851 !important; 
}

.formOk {
    border-bottom: 1px solid #00C851 !important;
    box-shadow: 0 1px 0 0 #00C851 !important; 
}

#resultFor {
    display: none;
}

#paginationCol {
    overflow: auto;
}

/* width */
#paginationCol::-webkit-scrollbar {
    height: 10px;
}

/* Track */
#paginationCol::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
#paginationCol::-webkit-scrollbar-thumb {
    background: #f50057; 
    opacity: 0.5;
}

/* Handle on hover */
#paginationCol::-webkit-scrollbar-thumb:hover {
    background: #f50057;
    opacity: 1;
}

.pagination.pg-red .page-item.active .page-link, .pagination.pg-red .page-item.active .page-link:hover {
    background-color: #f50057 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card ul li i {
    margin-top: 2px;
}

html.touch *:hover {
    pointer-events: none !important;
}

.spinner-red-only {
    border-color: #f50057 !important;
    transform: scale(5);
}

#footerLinks a i:hover {
    color: #f50057;
    opacity: 0.8;
}

#sharePage button {
    width: 120px;
}

#loadingMsg {
    color: #f1f1f1;
    opacity: 0.5;
    margin: 0 auto;
    text-align: center;
    margin-top: 25%;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
    text-transform: uppercase;
}

#runSearch {
    transition: all 0.5s;
}

#runSearch:hover {
    padding-left: 20px;
}

@media only screen and (max-width: 1100px) {
    #shelterInfo h3 {
        text-align: center !important;
    }

    #paginationCol {
        margin-bottom: 30px;
    }

    #modalImgCont {
        margin-right: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 60px;
    }
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
      height: 100vh;
    }
}

@media only screen and (max-width: 600px) {
    #footerLinks {
        margin-left: 0 !important;
    }

    #headerCont h1 {
        font-size: 30px;
    }

    #runSearch:hover {
        padding-left: 0;
    }
}

@media only screen and (max-width: 515px) {
    #search {
        font-size: 30px;
    }

    #runSearch {
        font-size: 30px;
    }
    
}

@media only screen and (max-width: 425px) {
    #resultFor {
        font-size: 25px;
    }

    #resultFor span {
        font-size: 30px;
    }

    #search {
        font-size: 20px;
    }

    #runSearch {
        font-size: 20px;
    }
}

@media only screen and (max-height: 480px) {

    #headerCont h1 {
        font-size: 16px;
    }

    #norway {
        font-size: 45px;
    }

    #headerCont {
        margin-top: 200vh;
        min-height: 300vh;
    }

    .introBtn {
        margin-top: 0 !important;
        margin-bottom: 30px;
    }
}